[client]
socket=workspace_path/mysql_name/mysql.sock

[mysql]

[mysqladmin]
socket=workspace_path/mysql_name/mysql.sock

[mysqld]
character-set-server=utf8
collation-server=utf8_general_ci
skip-name-resolve
lower_case_table_names=1

basedir=workspace_path/mysql_name
datadir=workspace_path/mysql_name/data
socket=workspace_path/mysql_name/mysql.sock
bind-address=0.0.0.0
port=3306

max_connections=1000
#MySQL允许最大的进程连接数，如果经常出现Too Many Connections的错误提示，则需要增大此值。默认151
max_connect_errors=500
#设置每个主机的连接请求异常中断的最大次数，当超过该次数，MYSQL服务器将禁止host的连接请求，直到mysql服务器重启或通过flush hosts命令清空此host的相关信息。默认100
external-locking=FALSE
#使用–skip-external-locking MySQL选项以避免外部锁定。该选项默认开启
max_allowed_packet=32M
#设置在网络传输中一次消息传输量的最大值。系统默认值 为4MB，最大值是1GB，必须设置1024的倍数。
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

#innodb_locks_unsafe_for_binlog=1
innodb_print_all_deadlocks=1
log-error=workspace_path/mysql_name/error.err
